@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: 100%/1.3 sans-serif;
  font-family: "Crimson Text";
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  margin: 0;
}

article {
  max-width: 43em;
  display: inline-block;
  padding: 0 1rem;
  text-align: center;
}

p {
  margin: 0 0 1.3rem;
  text-align: left;
}

article h1 {
  font-weight: normal;
  margin: 1.3rem 0 0;
}

article header {
  border-bottom: 1px solid #999;
  margin-bottom: 1.3rem;
  text-align: left;
}

article header p {
  font-style: italic;
}

article > p:last-child {
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #999;
}

blockquote {
  max-width: 24em;
  color: #555;
  font-size: 1.125rem;
  margin: 0 auto;
}

.quote {
  color: #999;
}

ol {
  padding-left: 1rem;
  text-align: left;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1 {
    margin-top: 1.4rem;
  }

  p {
    margin-bottom: 1.4rem;
  }

  article > p:last-child {
    padding-bottom: 1.4rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1 {
    margin-top: 1.5rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

  article > p:last-child {
    padding-bottom: 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

}
